absl-py
astunparse
cachetools
certifi
chardet
click
cycler
dnspython
Flask
Flask-Cors
Flask-PyMongo
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
keras-vggface
kiwisolver
Markdown
MarkupSafe
matplotlib
mtcnn
numpy
oauthlib
opencv-python
opt-einsum
Pillow
protobuf
pyasn1
pyasn1-modules
pymongo
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt
zipp
